.Rproj.user
.Rhistory
.RData
.Ruserdata
Data/Climate/
Data/Appendages/
Data/Archive/
Data/Carbon-Nitrogen/
Data/Coat-Permeability/
Data/Dispersal-Vector/
Data/Dormancy/
Data/Long-Term-Datasets/
Data/Embryo-Morphology/
Data/Height/
Data/Herbarium-Occurrences/
Data/Internal-traits/
Data/Oil/
Data/Seed-mass/
Data/Settling-time/
Data/Shape_Size/
Scans/
Spatial-Data/
Pilbara-Seed-Atlas/
Photos/

